<div id="<%= dom_id sales_by_year %>">
  <p>
    <strong>Book:</strong>
    <%= sales_by_year.book_id %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= sales_by_year.year %>
  </p>

  <p>
    <strong>Sales:</strong>
    <%= sales_by_year.sales %>
  </p>

</div>
