<h1>Editing sales by year</h1>

<%= render "form", sales_by_year: @sales_by_year %>

<br>

<div>
  <%= link_to "Show this sales by year", @sales_by_year %> |
  <%= link_to "Back to sales by years", sales_by_years_path %>
</div>
