<h1>Bienvenido a la Aplicación de Reseñas de Libros</h1>

<p>Seleccione una de las siguientes opciones:</p>

<ul>
  <li><%= link_to 'Ver Autores', crud_authors_path %></li>
  <li><%= link_to 'Ver Libros', books_path %></li>
  <li><%= link_to 'Ver Reviews', reviews_path %></li>
  <li><%= link_to 'Ver Ventas', sales_by_years_path %></li>
</ul>

