<h1>Bienvenido a la Aplicación de Reseñas de Libros</h1>

<p>Seleccione una de las siguientes opciones:</p>

<ul>
  <li><%= link_to 'Ver Autores', authors_path %></li>
  <li><%= link_to 'Ver Libros Mejor Calificados', top_rated_books_books_path %></li>
  <li><%= link_to 'Ver Libros Más Vendidos', top_selling_books_books_path %></li>
  <li><%= link_to 'Buscar Libros', search_books_path %></li>
</ul>

