<div>
    <%= link_to "Authors", authors_path %>
</div>
<div>
    <%= link_to "Books", books_path %>
</div>
<div>
    <%= link_to "Reviews", reviews_path %>
</div>
<div>
    <%= link_to "Sales", sales_by_years_path %>
</div>
  


